<mat-grid-list cols="10">
  <mat-grid-tile colspan="10" rowspan="2">
    <mat-card *ngIf="beer">
      <mat-card-header>
        <mat-card-title>{{beer.title}}</mat-card-title>
        <mat-icon (click)="openDeleteDialog()">delete</mat-icon>
      </mat-card-header>
      <mat-card-content>
        <p>Type: {{beer.type}}</p>
        <p>Aantal: {{beer.quantity}}</p>
      </mat-card-content>
      <button (click)="openDialog()" class="createFAB" color="primary" mat-fab>
        <mat-icon aria-hidden="false">edit</mat-icon>
      </button>
    </mat-card>
  </mat-grid-tile>
</mat-grid-list>
