<mat-card>
  <mat-card-header>
    <mat-card-title>Delete beer</mat-card-title>
  </mat-card-header>
  <!--  <img mat-card-image src="https://material.angular.io/assets/img/examples/shiba2.jpg" alt="Photo of a Shiba Inu">-->
  <mat-card-content>
    <p>You're about to delete {{data.beer.title}}</p>

    <p>Are you sure?</p>
  </mat-card-content>
  <mat-card-actions>
    <button mat-button (click)="close()" class="btn addCard-button">Terug</button>
    <button mat-raised-button color="warn" (click)="save()" class="btn addCard-button">Delete</button>
  </mat-card-actions>
</mat-card>
