mat-card {
  height: 100%;
  width: 100%;
  padding: 0 !important;

  mat-card-header mat-card-title {
    margin-top: 10px;
  }

  mat-card-content {
    margin: 1rem;
  }

  mat-card-actions {
    position: absolute;
    right: 1em;
    bottom: 1em;
  }
}
