
h1 {
  margin: 1rem;
}

table {
  //margin: 1em 1em 0;
  width: 100%;
}

mat-paginator {
  //margin: 0 1em;
  //width: 98%;
}

.beerCollectionTable {
  margin: 1em;
}

.scrollTable {
  height: 70vh;
  //width: 100%;

  overflow: -moz-scrollbars-none;
  -ms-overflow-style: none;

  overflow-y: auto;
  -ms-overflow-y: auto;

  mat-checkbox {
    margin-left: 24px;
  }
}

.scrollTable::-webkit-scrollbar {
  width: 0;
}
